black==23.1.0
flax==0.8.5
-f https://storage.googleapis.com/jax-releases/jax_releases.html
jax[cuda12]==0.4.31
matplotlib==3.9.1
mypy==1.1.1
numpy==2.0.1
openpyxl==3.1.5
optax==0.2.3
orbax==0.1.9
pandas==2.2.2
pyarrow==17.0.0
scikit-learn==1.5.1
scipy==1.14.0
tqdm==4.64.0
types-requests==2.32.0.20240712
pytest==8.3.2
pytest-order==1.2.1